.block-wrapper{
  display: flex;
}
.game-blocks{
  position: relative;
  top:405px;
  left:0px;
}

@keyframes blocks {
  from{
    left:0px;
  }
  to{
    left:-100%;
  }
}

.platform, .hole{
  position: relative;
  height: 32px;
}

.platform{
  width:100%;
  left:0px;
  background-color: black;
}

.hole{
  width:40px;
  background-color: #fff;
  left:20.5px;
  margin-top: -32px;
}

.platform.jump{
  position: relative;
  height: 32px;
  width:25px;
  background-color: blue;
  /* top:73%; */
  left:25px;
}

.red-platform{
  
}

.one .two{
  transition: left 1s ease-in-out;
}
