.game-wrapper{
  display: flex;
  justify-content: center;

  /* overflow-x: hidden; */
}

.game{
  /* margin: 5em 2em 2em 2em; */
  position: relative;

  margin-top: 5em;
  height:550px;
  width:1536px;
  border: 1px #000 solid;
  /* background-color: blueviolet; */
}